/* CSS */

@import url("https://transfer.archivete.am/12GDuV/segoe_fontz.css");

:root {
  --web-font: "Segoe UI", Segoe UI Light, Segoe UI Bold;
}

/* Body CSS */

html, body {
font-family: var(--web-font);
background: #f1f1f1;
cursor: default;
pointer-events: none;
width: auto;
height: auto;
overflow-x: hidden;
margin: 0px;
}

b, bold, strong {
font-family: "Segoe UI Bold"!important;
font-weight: normal!important;
}

bar {
    width: 100%;
    display: block;
    background: white;
    min-width: 0;
    padding-bottom: 8px;
    padding-top: 7px;
    position: fixed;
    border-bottom: 1px solid #e8e8e8;
}

/* YouTube - Taskbar 2017 Oldskool Layout Remake */

bar > #yt-masthead {
    margin: 0 auto 0 21;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

bar > #yt-masthead > #yt-masthead-content {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}
bar > #yt-masthead > #yt-masthead-content > #masthead-search {
    max-width: 650px;
    overflow: hidden;
    position: relative;
    pointer-events: all;
    margin: 3 0 0 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}
bar > #yt-masthead > #yt-masthead-content > #masthead-search .search-btn-component, bar > #yt-masthead > #yt-masthead-content > #masthead-search .search-btn-component .start {
    border-left: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}
bar > #yt-masthead > #yt-masthead-content > #masthead-search .search-btn-component {
    float: right;
}
bar > #yt-masthead > #yt-masthead-content > #masthead-search .search-btn-component {
    height: 29px;
    pointer-events: all;
    border: 1px solid #ccc;
    border-left: hidden;
    padding: 0;
}
bar > #yt-masthead > #yt-masthead-content > #masthead-search .search-btn-component .yt-uix-button-content {
    border: none;
    display: block;
    opacity: .6;
    padding: 0;
    text-indent: -10000px;
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfl-Nn88d.png) -694px -43px;
    background-size: auto;
    width: 15px;
    height: 15px;
    box-shadow: none;
}

bar > #yt-masthead .search-btn-component .yt-uix-button-content {
    margin: 0 25px;
}

bar > #yt-masthead > #yt-masthead-content > #masthead-search > #masthead-search-terms {
    background-color: #fff;
    font-size: 14px;
    height: 29px;
    line-height: 30px;
    margin: 0 0 2px;
    overflow: hidden;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color .2s ease;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

.masthead-search-terms-border {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px #eee;
}

bar > #yt-masthead > #yt-masthead-content > #masthead-search > #masthead-search-terms > input {
    background: transparent;
    border: 0;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    left: 0;
    margin: 0;
    outline: none;
    padding: 2px 6px;
    position: absolute;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Segoe UI;
}
bar > #yt-masthead > .yt-masthead-logo-container {
    float: left;
    margin: 3 0 0 0;
    position: relative;
    width: 200px;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}
bar > #yt-masthead > .yt-masthead-logo-container > span#yt-masthead-logo-fragment > #logo-container {
    font-size: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    pointer-events: all;
}
#yt-masthead #logo-container {
    margin-right: 5px;
}
bar > #yt-masthead > .yt-masthead-logo-container > span#yt-masthead-logo-fragment > #logo-container > span.logo {
    background: no-repeat url(https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfl-Nn88d.png) -178px -227px;
    background-size: auto;
    width: 73px;
    height: 30px;
    display: inline-block;
}
