/* --.-- SOFTYBNUNY CSS CODE == TO BE USED WITHIN THE SITE --.-- */

@import url("./font-mdhbhs6zna7on.css");

*, *::before, *::after {
	box-sizing: border-box;
	pointer-events: none;
	user-select: none;
	font-family: "Fuzzy Bubbles";
}

@keyframes fadeIntro {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fadeIntroB {
	from {transform: translateX(-100%);}
	to {transform: translateX(0%);}
}

/* - */

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	cursor: default;
	margin: 0;
	padding: 0;
}

html {
	background: black;
}

body {
	opacity: 1;
	background: center / cover no-repeat url('./bg-mdhbhs6zna7on.webp');
	animation: fadeIntro 0.75s ease;
}

b, bold, strong {
    font-family: "Fuzzy Bubbles Bold";
    font-weight: normal;
}

homepage > page.disabled,
homepage > sub-page.disabled {
	display: none !important;
}

/* --- START OF THE FULL PAGE --- */

homepage {
	width: 100%;
	display: flex;
	height: auto;
	margin-left: 0;
	transform: translateY(0%);
	transition: all 1s ease;
	animation: fadeIntroB 2s ease;
	flex-direction: column;
}

homepage > page,
homepage > sub-page {
	min-height: 100%;
}

homepage > page {
	width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

page > logo {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
page > logo > div {
	width: 205px;
	height: 200px;
}
page > logo > div > svg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	filter: drop-shadow(0px 0px 7.5px #ffffff);
}

page > site-linkz {
    display: flex;
	margin-left: 100px;
}

/* -- */

page > site-linkz > ol, page#b629nx75c > site-linkz > ol > li, site-linkz > ol > li::marker {
    margin: 0;
    content: none;
    padding: 0;
}

page > site-linkz > ol > li {
    background: transparent;
    padding: 15px;
    font-size: 20px;
    color: white;
    border-radius: 7.5px;
    cursor: pointer;
    display: flex;
    pointer-events: all;
    user-select: none;
    margin-bottom: 17.5px;
    justify-content: center;
    align-items: flex-end;
	transition: all ease 0.1s;
}

page > site-linkz > ol > li#fa-lnk > svg,
page > site-linkz > ol > li#bsky-lnk > svg,
page > site-linkz > ol > li#tw-lnk > svg,
page > site-linkz > ol > li#disc-lnk > svg {
    width: 30px;
    height: 30px;
    margin: 0 10 0 0;
    padding: 0;
    fill: white;
}

/* - */

page > site-linkz > ol > li#fa-lnk {
    background: rgb(215 165 45);
    filter: drop-shadow(0px 0px 5px rgb(215 165 45));
}

page > site-linkz > ol > li#fa-lnk:hover {
    background: rgb(205 155 35);
    filter: drop-shadow(0px 0px 5px rgb(205 155 35));
}
page > site-linkz > ol > li#fa-lnk:active {
    background: rgb(200 150 30);
    filter: drop-shadow(0px 0px 5px rgb(200 150 30));
}

/* - */

page > site-linkz > ol > li#bsky-lnk {
    background: rgb(25 155 245);
    filter: drop-shadow(0px 0px 5px rgb(25 155 245));
}

page > site-linkz > ol > li#bsky-lnk:hover {
    background: rgb(20 150 240);
    filter: drop-shadow(0px 0px 5px rgb(20 150 240));
}
page > site-linkz > ol > li#bsky-lnk:active {
    background: rgb(15 145 235);
    filter: drop-shadow(0px 0px 5px rgb(15 145 235));
}

/* - */

page > site-linkz > ol > li#tw-lnk {
    background: rgb(20 135 215);
    filter: drop-shadow(0px 0px 5px rgb(20 135 215));
}

page > site-linkz > ol > li#tw-lnk:hover {
    background: rgb(15 130 210);
    filter: drop-shadow(0px 0px 5px rgb(15 130 210));
}

page > site-linkz > ol > li#tw-lnk:active {
    background: rgb(10 125 205);
    filter: drop-shadow(0px 0px 5px rgb(10 125 205));
}

/* - */

page > site-linkz > ol > li#disc-lnk {
    background: rgb(90 100 235);
    filter: drop-shadow(0px 0px 5px rgb(90 100 235));
}

page > site-linkz > ol > li#disc-lnk:hover {
    background: rgb(85 95 230);
    filter: drop-shadow(0px 0px 5px rgb(85 95 230));
}
page > site-linkz > ol > li#disc-lnk:active {
    background: rgb(80 90 225);
    filter: drop-shadow(0px 0px 5px rgb(80 90 225));
}

/* --- Mobile Layout --- */

@media screen and (max-width: 750px) {
	page {
		width: 100%;
		display: flex;
		flex-direction: column;
		transform: scale(0.85);
	}
	page > logo {
		height: auto;
	}
	page > site-linkz {
		margin-left: 0px;
	}
}
